:host {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.25rem 0.75rem;
  text-align: center;
  overflow: hidden;
  width: 100%;
  max-width: var(--_rail-width, 5rem);
  height: 100%;
  box-sizing: border-box;
  font: var(--md-sys-typescale-label-medium-font, 0.75rem / 1rem 'Roboto');
  letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing, 0.03125rem);
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface);
}

.primary-action,
.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
}

.content {
  height: 100%;
}

.glue {
  flex-grow: 1;
}